@using ControleContatos.Enums
@model UsuarioModel

@{
    ViewData["Title"] = "Editar usuário";
}

<div class="text-center">

    <h1 class="display-4">Editar usuário</h1>

</div>

<form asp-controller="Usuario" asp-action="Edit" method="post">

    <input type="hidden" asp-for="Id"/>
    <div class="mb-3">
        <label for="name">Nome</label>
        <input type="text" asp-for="Name" class="form-control" placeholder="Nome completo">
        @Html.ValidationMessageFor(m => m.Name)
    </div>

    <div class="mb-3">
        <label for="email">E-mail</label>
        <input type="text" asp-for="Email" class="form-control">
        @Html.ValidationMessageFor(m => m.Email)
    </div>

    <div class="mb-3">
        <label for="celphone">Login</label>
        <input type="text" asp-for="Login" class="form-control">
        @Html.ValidationMessageFor(m => m.Login)
    </div>

    <div class="mb-3">
        <label for="celphone">Perfil</label>
        <select asp-for="Profile" class="form-control">
            <option value="">Selecione</option>
            <option value="@ProfileEnum.Admin">Administrador</option>
            <option value="@ProfileEnum.User">Usuário</option>
        </select>
        @Html.ValidationMessageFor(m => m.Profile)
    </div>

    <button type="submit" class="btn btn-primary btn-block">Editar</button>
    <a class="btn btn-secondary" asp-controller="Usuario" asp-action="Index" role="button">Voltar</a>
</form>